div{
    border: 1px solid indianred;
    margin: 10px;
    padding: 10px;
}
div p{
    text-align: justify;
}
#one{
    color: red;
}
#two{
    color: blue;
    /* display: none; */
    visibility: hidden;
}